* {
    background-color: rgb(253, 236, 187);
}
.App {
    width: 54rem;
    margin: 4rem auto;
}

.todo {
    margin: 0.8rem 0;
}

.todo-input {
    width: max-content;
    margin: 0 auto;
}

.todo-input input {
    padding: 12px;
    width: 30rem;
}

.todo-title {
    font-style: bold;
    font-size: 1.5rem;
}

.checked {
    text-decoration: line-through;
    color: red;
}

button {
    padding: 12px;
    margin: 4px;
}